.userDiv {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

body,html{
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
}